body {
	background: url("background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

.text {
    text-align: center;
    color: white;
    font-size: 8vw;
    font-family: customFont
}

.chart-container {
    padding-left: 15%;
    padding-right: 15%;
}

#chart-form-control {
    padding-top: 10px;
    padding-left: 45%;
    padding-right: 45%;
}

#myChart {
    position: relative;
    background-color: rgba(236, 236, 236, 0.3);
}

#enterName {
    width: 75%;
}

#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-size: 5vw;
}

@font-face {
  font-family: customFont;
  src: url(customFont.ttf);
}