body {
	background: url("customs.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
  font-family: 1_EFT_by_iWolf;
  src: url(1_EFT_by_iWolf.ttf);
}